*.faiss filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
FaissExample/openmp.framework/** filter=lfs diff=lfs merge=lfs -text
FaissExample/faiss.framework/** filter=lfs diff=lfs merge=lfs -text
